/* styles.css */

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36px;
    color: #125688;
    margin-top: 30px;
}

#recommendation-form {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
}

.input-group {
    text-align: left;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #125688;
    display: block;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.radio-group {
    display: flex;
    margin-top: 10px;
}

input[type="radio"] {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #125688;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0a3f6d;
}
